// Color variables
$color-spy-says-no: #922
$color-spy-says-yes: #422
$color-red:rgb(92, 2, 7)
$color-green:rgb(12, 84, 21)
$color-blue: #222299
$color-light-blue: #2a9
$color-dark: #1a1a1a
$color-light: #f9f9f9
$color-primary:rgb(0, 150, 30)
$color-primary-hover: rgb(0, 150, 30, 0.5)

$right: "🠊"
$left: "🠈"
$steady: "◎"
//🠔 🠖 🠕 🠗 ,