// Color variables
$color-spy-says-no: #922
$color-spy-says-yes: #422
$color-red:rgb(152, 22, 27)
$color-red-light: rgb(220, 40, 40)
$color-green:rgb(12, 84, 21)
$color-green-light: var(--color-green-light, rgb(70, 180, 70))
$color-blue: #222299
$color-blue-light: rgb(80, 160, 255)
$color-blue-dark: #000077
$color-dark: #1a1a1a
$color-light: #ddd
$color-primary:rgb(155, 13, 136)
$color-primary-hover: rgb(155, 13, 136, 0.5)

$right: "🠊"
$left:  "🠈"
$steady: "◎"
$absent: "×"
//🠔 🠖 🠕 🠗 ,