@use '../abstracts/variables' as *

 
body
  width: 100vw
  height: 100vh

:root

  font-weight: 400
  color-scheme: light dark
  color: rgba(255, 255, 255, 0.87)
  background-color: #242424
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@media (prefers-color-scheme: light)
  :root
    color: #213547
    background-color: #ffffff
  button
    background-color: $color-light
    color: $color-dark
@media (prefers-color-scheme: dark)
  :root
    color: #ffffff
    background-color: #242424
  button
    background-color: $color-dark
    color: $color-light
  button
    background-color: $color-dark
    color: $color-light
    &:hover
      background-color: $color-primary-hover
      color: $color-light


#root  
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 320px
  height: 100vh
  margin: 0 auto
  padding-bottom: 5px



