@use '../abstracts/variables' as *
  
body
  width: 100vw
  height: 100vh

:root
  font-weight: 400
  color-scheme: light dark
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $color-light $color-dark 
  background-color: white $color-dark


:root[data-theme='dark']
  color: $color-light
  background-color: $color-dark
  button 
    color: $color-light
    background-color: $color-dark
    border: 2px solid $color-light
    &:hover
      background-color: $color-dark
      color: $color-light

:root[data-theme='light'] 
  background-color: $color-light
  color: $color-dark
  button 
    color: $color-dark
    background-color: $color-light
    border: 2px solid $color-dark
    &:hover
      background-color: $color-light
      color: $color-dark

#root 
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 320px
  height: 100vh
  margin: 0 auto
  padding-bottom: 5px



