// Cursores personalizados para los modos de color
.cursor-spy-says-no,
.cursor-spy-says-no button
  cursor: url("/src/assets/red-brush-40.png") 7 40, auto 

.cursor-spy-says-yes,
.cursor-spy-says-yes button
  cursor: url("/src/assets/green-brush-40.png") 7 40, auto

.cursor-eraser,
.cursor-eraser button
  cursor: url("/src/assets/eraser-40.png") 7 40, auto
