@use '../abstracts/variables' as *

header
  display: grid
  grid-template-rows: 1fr 1fr 
  gap: 0.1em
  width: 100%

  #game-head
    grid-row: 1
    display: grid
    grid-template-columns: 6fr 1fr 1fr
    align-items: center

  #game-info
    font-size: 0.6em
    grid-row: 2
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center

#avatar
  display: inline-block
  height: 50px
  width: auto
  vertical-align: middle
  margin-right: 8px
  border-radius: 50%
  object-fit: cover
  & img
    height: 50px

