@use '../abstracts/variables' as *
@use '../abstracts/mixins' as mixins

// Keyboard styles extracted from _GameProgress.sass
#keyboard
  position: fixed
  bottom: 1em
  left: 50%
  transform: translateX(-50%)
  display: grid
  grid-template-columns: repeat(6, 50px)  // Fixed column width of 50px
  grid-template-rows: repeat(3, auto)  
  gap: 0.5em
  margin-top: 20px
  & .present
    border-color: $color-spy-says-yes
    border-width: 3px
    color: $color-spy-says-yes
  & .absent
    border-color: $color-spy-says-no
    border-width: 3px
    color: $color-spy-says-no

#send-button
  grid-column: span 2
  text-transform: small-caps
  font-size: 0.8em

.key-button 
  +mixins.common-tile-keybutton
  &:hover
    border-color: #bbf
    border-width: 2px
  &.spy-says-no
    border-color: $color-spy-says-no
    color: $color-spy-says-no
    border-width: 3px
  &.spy-says-yes
    border-color: $color-spy-says-yes
    color: $color-spy-says-yes
    border-width: 3px
  img 
    height: 40px

.active
  border-color: $color-blue
  border-width: 4px
